.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}